<div>
    <% if (site.categories.length) { %>
        <div>
            <% site.categories.sort('name').each(function(item){ %>
				<li><a href="#<%= item.name %>"><%= item.name %><span><%= item.posts.length %></span></a></li>
			<% }); %>
        </div>
    <% } %>
</div>
