<%- partial('_partial/head')%>
     
    <body>
        <div class="container">
            <!-- 页首菜单 -->
            <%- partial('_partial/navigation')%>
            <%- body %> 
        </div>
        

    </body>
</html>
